# Node
node_modules/
dist/
.env
*.log
npm-debug.log*

# Java
target/
*.class
*.jar
.mvn/
*.iml
HELP.md

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.production
